.App {
  text-align: center;
}
body {
  background-image: url("images/sky-background.avif");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
h3{
  color: rgb(12, 193, 249)
}